/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.scoreboard {
  font-family: 'Audiowide', cursive;
  padding: 10px;
  margin: 0 auto 0 auto;
}

.gameboard {
  position: relative;
  height: 500px;
  width: 750px;
  border: solid thin gray;
  padding: 25px;
  background-image: url('space.png');
  margin: 0 auto 0 auto;
}

.asteroid {
  background-image: url("asteroid.png");
  background-size: 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: absolute;
  /*border: thin solid red;*/
}

.player {
  background-image: url('spaceship.png');
  background-size: 100%;
  height: 37.5px;
  width: 50px;
  display: inline-block;
  position: absolute;
  border: thin solid red;
}
